@font-face {
    font-family: 'comic';
    src: url('../source/font/comic.ttf');
    font-stretch: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: comic;
    box-sizing: border-box;
}

copyright{
    font-size: 100%;
}

main{
    height: 1020px;
    width: auto;
    background-image: url('../source/img/back.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    height: 600px;
    background: white;
    width: 1090px;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.5),rgba(255,255,255,0.3));
    border-radius: 3rem;
}
.logo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttom{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

proj{
    font-size: 22.3px;
    font-weight: bold;
}

tag{
    margin: 3px;
    padding: 3px;
    font-size: 90%;
    font-weight: normal;
    background-color: rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,255,255,0.2);
    color: rgb(0,0,0);
}

img{
    transition: all 0.35s;
}

img:hover{
    transform:scale(1.1);
}

.projleft{
    text-align: left;
    width: 0%;
    height: auto;
}

.projimg{
    width: 90%;
    height: auto;
    border-radius: 5%;
    opacity: 80%;
}
.projt{
    width: 100%;
    height: auto;
    border-collapse: separate;
    border-spacing: 40px 30px;
    position: absolute;
}

.contact{
    align-items: center;
    justify-content: center;
    margin: 3px;
}
